{% extends  'base.html'%}

{% block  body %}

<div class="orders">
    <div class="order">
        <div class="order-title">order 1 <i class="fa-solid fa-angle-down"></i></div>
        <div class="mega-menu">
            <div class="order-content">
                <ul>
                    <li>ptodect</li>
                    <li>ptodect</li>
                    <li>ptodect</li>
                </ul>
            </div>
            <div class="order-progress">
                <p>progress : 50%</p>
                <div class="pro"></div>
            </div>
        </div>
    </div>
    <div class="order">
        <div class="order-title">order 1 <i class="fa-solid fa-angle-down"></i></div>
        <div class="mega-menu">
            <div class="order-content">
                <ul>
                    <li>ptodect</li>
                    <li>ptodect</li>
                    <li>ptodect</li>
                </ul>
            </div>
            
            <div class="order-progress">
                <p>progress : 50%</p>
                <div class="pro"></div>
            </div>
        </div>
    </div>
    <div class="order">
        <div class="order-title">order 1 <i class="fa-solid fa-angle-down"></i></div>
        <div class="mega-menu">
            <div class="order-content">
                <ul>
                    <li>ptodect</li>
                    <li>ptodect</li>
                    <li>ptodect</li>
                </ul>
            </div>
            <div class="order-progress">
                <p>progress : 50%</p>
                <div class="pro"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}