{% extends 'base.html'%}

{% block body %}
<div class="contaner">
    <div class="uni">
        <form action="/signup" method="get" class="si">
            <input type="text" name="name" id="name" placeholder="enter your name" required>
            <input type="email" name="email" id="email" placeholder="enter your email" required>
            <input type="password" name="password" id="password" placeholder="enter your password" required>
            <a href="/login">you have already an acount</a>
            <div class="un">
                <input type="checkbox" name="" id="accept" value="accept" required>
                <label for="accept">accept</label>
            </div>
            <input type="submit" name="" id="" value="creat acount" class="bbu">
        </form>
    </div>
</div>
{% endblock %}