{% extends 'base.html' %}

{% block body %}
<div class="wishlist-content">
    <div class="contaner">
        <div class="product">
        <img src="{{url_for('static',filename='/proim.jpg')}}" alt="">
        <h4 class="product-title">product 1</h4>
        <p>about product</p>
        <a href="/product">more</a>
    </div>
    <div class="product">
        <img src="{{url_for('static',filename='/proim.jpg')}}" alt="">
        <h4 class="product-title">product 1</h4>
        <p>about product</p>
        <a href="/product">more</a>
    </div>
    <div class="product">
        <img src="{{url_for('static',filename='/proim.jpg')}}" alt="">
        <h4 class="product-title">product 1</h4>
        <p>about product</p>
        <a href="/product">more</a>
    </div>
    <div class="product">
        <img src="{{url_for('static',filename='/proim.jpg')}}" alt="">
        <h4 class="product-title">product 1</h4>
        <p>about product</p>
        <a href="/product">more</a>
    </div>
    </div>
</div>
{% endblock %}